{% extends 'admin/admin_base.html.twig' %}

{% block metaTitle %}
    Liste des articles
{% endblock metaTitle %}


{% block main %}
    <div class="articles-container">
        {% for article in articles %}
                <article class="article">
                    <h2>{{ article.title | upper }}</h2>
                    <p>{{ article.content }}</p>
                    <img src="{{ asset("uploads/brochures/"~article.brochureFilename) }}" class="img-fluid list" alt="..." />
                    <a href="{{ path('admin_article_Update', {'id': article.id }) }}">Mettre à jour (hardcodé)</a>
                    <a href="{{ path('admin_article_Delete', {'id': article.id }) }}">Supprimer</a>
                </article>
            <br>
        {% endfor %}

        <a href="{{ path('article_insert') }}">Ajouter un article (hardcodé)</a>
    </div>
{% endblock main %}