{% extends 'Front/base.html.twig' %}

{% block metaTitle %}
    Liste des articles
{% endblock metaTitle %}


{% block main %}
    <div class="articles-container">
        <div class="my-5">
            {# effectue la function search avec la method get #}
            <form class="mx-3" action="{{ path('search') }}"method="get" >
                <input type="text" name="q" placeholder="rechercher">
                <input type="submit" value="rechercher">
            </form>
        </div>
    </div>

        <a class="btn-art abso " href="{{ path('article_insert') }}">Ajouter un article</a>
    <div class="row mx-1">
    {% for category in categories %}
        <h2 class="margin">{{ category.title }}</h2>
        <h3>Il y a {{ category.article | length }} articles dans cette categorie</h3>

        <br>


        {% for article in category.article %}
            <article class="admin-list col-lg-3 col-12 mx-auto">
                <h4>{{ article.title | upper }}</h4>
                <span>{{ article.price }}€</span>
                <div class="imgadmin">
                    <img src="{{ asset("uploads/brochures/"~article.brochureFilename) }}" class="img-fluid article" alt="..." />
                </div>
                <a class="btn-art" href="{{ path('admin_article_Update', {'id': article.id }) }}">Mettre à jour</a>
                <a class="btn-art" href="{{ path('admin_article_Delete', {'id': article.id }) }}">Supprimer</a>
            </article>
        {% endfor %}
    {% endfor %}
    </div>

{% endblock main %}